<div class="container">
    <form [formGroup]="myForm" (submit)="add()">
        <label>Category Name:</label>
        <input type="text" class="form-control" placeholder="Category Name" formControlName="CategoryName">
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
        </div>
    </form>
</div>