<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Product Id</th>
        <th scope="col">Order Quantity</th>
        <th scope="col">Order Price</th>
        <th scope="col">Order Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.orderId}}</td>
        <td>{{item.productId}}</td>
        <td>{{item.orderQuantity}}</td>
        <td>{{item.orderPrice}}</td>
        <td>{{item.shipmentAddress}}</td>
      </tr>
    </tbody>
  </table>