<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="home">
      <img src="https://t4.ftcdn.net/jpg/02/21/12/59/240_F_221125949_pld9AwTSoz0UCIJ4Eo180kdIl4W4STp8.jpg" height="60"
        alt="Alpha Logo" loading="lazy" style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="home">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="view-products">Products</a>
        </li>
        <li class="nav-item" *ngIf="status" [ngClass]="{'d-none':login ===false|| role ==='USER'}">
          <a class="nav-link" href="add-product">Add Product</a>
        </li>
        <li class="nav-item" [ngClass]="{'d-none':login ===false}">
          <a class="nav-link" href="order">View Orders</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" [ngClass]="{'d-none':login===true}" class="btn btn-primary px-3 me-2" (click)="callLogin()">
          Login
        </button>
        <button type="button" [ngClass]="{'d-none':login===true}" class="btn btn-primary me-3" (click)="callSignup()">
          Sign up for free
        </button>
        <button type="button" [ngClass]="{'d-none':login===false}" class="btn btn-primary me-3" (click)="callLogout()">
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->