
<div class="wrapper bg-white">
    <div class="h2 text-center">Log In</div>
    <div class="text-muted">Please login to your account</div>
    <form [formGroup]="myForm" (submit)="validate()">
        <div class="form-group">
          <label class="text-muted mandatory"></label>
          <input type="text" required class="form-control" placeholder="UserName" formControlName="UserId">
        </div>
          <div class="form-group">
              <label class="text-muted mandatory"></label>
              <input type="password" required class="form-control" placeholder="Password" formControlName="Password">
          </div>
          <br>
          <div class="d-flex align-items-center justify-content-sm-end button-section">
              <button class="btn btn-primary mx-4" type="submit">LOG IN</button> 
          </div>
          <div class="d-flex align-items-center justify-content-center pb-3">
            <p class="mb-0 me-2">Don't have an account?</p>
            <button type="button" class="btn btn-outline-danger">Create new</button>
          </div>
      </form>
  </div>