<div class="container">
    <form [formGroup]="myform" (submit)="add()">
        <div class="row mb-2">
            <div class="col-4">
                <label>CategoryId</label> 
                <input type="text" class="form-control" placeholder="Enter CategoryId" formControlName="CategoryId">
            </div>
            <div class="col-4">
                <label>ProductName</label> 
                <input type="text" class="form-control" placeholder="Enter ProductName" formControlName="ProductName">
            </div>
            <div class="col-4">
                <label>ProductType</label> 
                <input type="text" class="form-control" placeholder="Enter ProductType" formControlName="ProductType">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-4">
                <label>ProductPrice</label>
                <input type="text" class="form-control" placeholder="Enter ProductPrice" formControlName="ProductPrice">
            </div>
            <div class="col-4">
                <label>ProductImageUrl</label>
                <input type="text" class="form-control" placeholder="Enter ProductImageUrl" formControlName="ProductImageUrl">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <textarea class="form-control" rows="5" placeholder="Enter ProductDescription" formControlName="ProductDescription"></textarea>
            </div>
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-primary ps-5 pt-2 pb-2 pe-5 ">Submit</button>
        </div>
    </form>
</div>