body{
    background-color: #eee;
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat;
}
.wrapper{
    max-width: 550px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.h5{
    color: #555;
    margin: 0;
}
.form-control{
    border: 1.5px solid #7b2ee8;
}
.form-control:focus{
    box-shadow: none;
}
.mandatory::after{
    content: "*";
    color: #ff0000;
}
.button-section .btn{
    background-color: #fff;
    border-radius: 20px;
    border: 1.5px solid #7b2ee8;
    padding: 5px 15px;
}
.button-section .btn.btn-primary{
    background-color: #7b2ee8;
    color: #eee;
}
.button-section .btn:hover{
    background-color: #7b2ee8;
    color: #eee;
}
.remember{
    border: 1px solid #7b2ee8;
}

.btn.btn-primary{
    background-color: #fff;
    color: #555;
    border: 1px solid #7b2ee8;
    width: 115px;
}
.btn.btn-primary:hover{
    background-color: #a069ee;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #7b2ee8;
}
@media(max-width: 575px){
    .btn-group{
        width: 100%;
    }
    .btn-group>.btn{
        flex: 50%;
    }
    .wrapper{
        margin: 10px;
    }
    .h5{
        padding-top: 10px;
    }
}